<% layout('layouts/boilerplate') %>
    <h1 class="text-center">All Campgrounds!</h1>
    <div id="cluster-map"></div>
        <% campgrounds.forEach(campground => { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if (campground.images.length) { %>
                            <img class="img-fluid" src="<%= campground.images[0].url %>" alt="">
                        <% } else { %>
                            <img class="img-fluid" src="https://static.wikia.nocookie.net/leonthedrpepperfan-rblx/images/8/8e/Image_test_tho.jpg" alt="">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>
                            <p class="card-text">
                                <%= campground.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= campground.location %>
                                </small>
                            </p>
                            <p class="class-text">
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>

<script>
    const campgroundObject = {
        features: <%-JSON.stringify(campgrounds)%>
    };
    const mapboxToken = '<%-process.env.MAP_BOX_TOKEN%>';
</script>
<script src="/js/clusterMap.js"></script>
